Apartado2/validador.dtd

<!ELEMENT ligaBaloncesto (equipos+)>
<!ELEMENT equipos (jugadores)>
<!ELEMENT jugadores (jugador+)>
<!ELEMENT jugador (nombre, apellidos, equipo, edad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT equipo (ciudad, presidente)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT presidente (nombrePresidente, apellidosPresidente)>
<!ELEMENT nombrePresidente (#PCDATA)>
<!ELEMENT apellidosPresidente (#PCDATA)>
<!ELEMENT edad (#PCDATA)>